<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Rom Data Gen</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
            integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
            crossorigin="anonymous"></script>
    <style>
        .badge {
            font-size: 85%;
        }
        .flex-list {
            padding: 0.5rem;
            min-width: 15rem;
            flex-grow: 1;
        }
    </style>

    {% block header %}
    {% endblock %}
</head>

<body>

{% block nav %}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">Rom Data Generator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Generator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('validation_view') }}">Validator</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<main role="main" class="container">

    <div class="container pb-5">
        <h1>Rom Data Generator</h1>
        <p class="lead">Generate and download data from the spreadsheets.</p>
    </div>

    <div class="d-flex flex-wrap">
        <div class="flex-list">
            <h3 class="text-center">Planet Gen</h3>

            <div class="list-group">
{#                <a href="{{ url_for('test') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">#}
{#                    download cached mat group (test)#}
{#                    <span class="pl-1 badge badge-primary">#}
{#                        <i class="fas fa-download"></i>#}
{#                        <i class="spinner-border spinner-border-sm text-light d-none" role="status"></i>#}
{#                    </span>#}
{#                </a>#}
                <a href="{{ url_for('worldgen.build_material_groups') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Material Groups
                    <span class="pl-1 badge badge-primary">
                        <i class="fas fa-download"></i>
                        <i class="spinner-border spinner-border-sm text-light d-none" role="status"></i>
                    </span>
                </a>
                <a href="{{ url_for('worldgen.build_voxel_materials') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Voxel Materials
                    <span class="pl-1 badge badge-primary">
                        <i class="fas fa-download"></i>
                        <i class="spinner-border spinner-border-sm text-light d-none" role="status"></i>
                    </span>
                </a>
                <a href="{{ url_for('worldgen.build_mining_definitions') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Mining Definitions
                    <span class="pl-1 badge badge-primary">
                        <i class="fas fa-download"></i>
                        <i class="spinner-border spinner-border-sm text-light d-none" role="status"></i>
                    </span>
                </a>
                <a href="{{ url_for('worldgen.build_all_voxelmat_data') }}" class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center">
                    <span class="font-weight-bold">Download All</span>
                    <span class="pl-1 badge badge-primary">
                        <i class="fas fa-file-archive" style="font-size: 1.1rem"></i>
                        <i class="spinner-border spinner-border-sm text-light d-none" role="status"></i>
                    </span>
                </a>
            </div>
        </div>

        <div class="flex-list">
            <h3 class="text-center">Environment</h3>

            <div class="list-group">
                <a href="{{ url_for('worldgen.build_item_groups') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Procedural Item Groups
                    <span class="pl-1 badge badge-primary">
                        <i class="fas fa-download"></i>
                        <i class="spinner-border spinner-border-sm text-light d-none" role="status"></i>
                    </span>
                </a>
                <a href="{{ url_for('worldgen.build_growable_items') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Growable Environment Items
                    <span class="pl-1 badge badge-primary">
                        <i class="fas fa-download"></i>
                        <i class="spinner-border spinner-border-sm text-light d-none" role="status"></i>
                    </span>
                </a>
                <a href="{{ url_for('worldgen.build_tree_items') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Tree Environment Items
                    <span class="pl-1 badge badge-primary">
                        <i class="fas fa-download"></i>
                        <i class="spinner-border spinner-border-sm text-light d-none" role="status"></i>
                    </span>
                </a>
                <a href="{{ url_for('worldgen.build_farmable_items') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Farmable Environment Items
                    <span class="pl-1 badge badge-primary">
                        <i class="fas fa-download"></i>
                        <i class="spinner-border spinner-border-sm text-light d-none" role="status"></i>
                    </span>
                </a>
                <a href="{{ url_for('worldgen.build_all_environement_data') }}" class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center">
                    <span class="font-weight-bold">Download All</span>
                    <span class="pl-1 badge badge-primary">
                        <i class="fas fa-file-archive" style="font-size: 1.1rem"></i>
                        <i class="spinner-border spinner-border-sm text-light d-none" role="status"></i>
                    </span>
                </a>
            </div>
        </div>

        <div class="flex-list">
            <h3 class="text-center">Alchemy</h3>

            <div class="list-group">
                <a href="{{ url_for('build_all_alchemy_data', generate_ground='false') }}" class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center">
                    <span class="font-weight-bold">Download All</span>
                    <span class="pl-1 badge badge-primary">
                        <i class="fas fa-file-archive" style="font-size: 1.1rem"></i>
                        <i class="spinner-border spinner-border-sm text-light d-none" role="status"></i>
                    </span>
                </a>
            </div>
        </div>


    </div>

</main>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script>
        $('.list-group > a').click(function(event) {
			let target = $(event['target']);
			target.find('.spinner-border').removeClass('d-none');
			target.find('.fas').addClass('d-none');

			if (window.location.pathname !== "/validator") {
				setTimeout(function () {
					// No way to find when file is downloaded, so just add fake delay
					target.find('.spinner-border').addClass('d-none');
					target.find('.fas').removeClass('d-none');
				}, 2000)
			}

        });
    </script>

{% endblock %}

</body>
</html>